.btn {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.637);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.1s;
    color: red;
    transition: .1s ease-in-out all;
  }
  .btn:hover {
    border-color: red;
    cursor: pointer;
  }